@charset "utf-8";
/* CSS Document */

.login_L{width:452px;float:left;}
.login_1{float:left;background:url(../../images/login/login_xian.png) no-repeat left 36px;width:300px;color:#FFF;height:145px;}
.login_1 li{width:277px;float:left;height:12px;padding:12px 0px 12px 23px;}
.time{font-size:14px;font-weight:bold;}
.l_y_y_1 img{cursor:pointer;float:left;margin:2px 5px 0px 0px;margin:0px 5px 0px 0px\9;margin:0px 5px 0px 0px\0;_margin:0px 5px 0px 0px;display:inline;}
.login_1 li span{float:left;width:60px;}
.login_1 .l_sty_1{padding:10px 0px 10px 23px;position:relative;}
.login_1 .l_sty_1 span{line-height:25px;}
#l_y_y_1{float:left;background:url(../../images/login/login_y_y_bg_1.png) no-repeat;width:100px;height:25px;padding:6px 10px 0px 10px;color:#656565;cursor:pointer;}
#l_y_y_1 img{float:left;margin-right:5px;}
#l_y_y_2{float:left;position:absolute;left:83px;top:10px;width:100px;height:80px;}
#l_y_y_2 dd{width:92px;float:left;padding:6px 0px 6px 8px;color:#656565;cursor:pointer;}
#l_y_y_2 dd img{float:left;margin-right:5px;}

.login_2{float:left;margin-top:70px;background:url(../../images/login/login_s_y.png) no-repeat;width:427px;height:110px;color:#FFF;padding:10px 15px;line-height:22px;}
.login_2 strong{display:block;font-size:18px;font-family:'Microsoft YaHei';padding-bottom:5px;}

.login_R{background:url(../../images/login/login_bg.png) no-repeat;width:336px;height:340px;float:right;padding:20px 0px 0px 25px;margin-bottom:2px}
.l_logo{float:left;}
.login_R h1{float:left;margin-left:5px;margin-top: 5px;}
.login_R ul{float:left;width:336px;float:left;padding-top:75px;padding-left:23px;}
.login_R li{width:280px;float:left;padding-top:12px;}
.login_R li span{width:60px;float:left;line-height:30px;font-weight:bold;color:#616161;font-size:14px;}
.TextField{float:left;border:1px solid #B1BCC3;height:28px;line-height:28px;background:url(../../images/login/login_inp_bg.gif) repeat-x;padding:0px 2px;width:166px;}
.login_R li img{float:left;margin-left:0px;display:inline;}

.login_3{width:100%;float:left;padding-top:55px;text-align:center;background:url(../../images/login/login_footer.png) no-repeat center bottom;padding-bottom:28px;color:#9FC6DA;line-height:24px;}

body,table,textarea,input{font-size:12px;font-family:Arial, Helvetica, sans-serif;}
.f_14{font-size:14px;}

.red{color:#FF0000;}
.green{color:#6A9400;}
.bg_1{background:url(../../images/login/login_bg_top.jpg) repeat-x center top;}
.bg_top{height:100%}
.bg_middle{background:url(../../images/login/login_bg_middle.jpg) repeat-x center top;}
.bg_foot{color:#000000};
.tableheight{height:100%}
.login{width:856px;margin-top:5px; auto: 0px auto;}


body, div, dl, dt, dd, ul, ol, li,h1, h2, h3, h4, h5, h6, pre, code,form, fieldset, legend, input, button,
textarea, p, blockquote, th, td { margin: 0px; padding: 0px;}
body{text-align:left;color:#38749C;}
em,u{font-style: normal;}
dl,ul,ol,li{list-style:none;}
img{ border:0px;}
a{color:#38749C;text-decoration: none;}
a:hover{text-decoration: underline;}

.fl {float: left;}
.fr {float: right;}
.clear{clear:both;}
.hidden{display:none;}

html, body {height:100%; }

